*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
}
*::-moz-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
}
/**********SIGN IN ************/
#lent{
    background-color: #003D6C;
}
.sign-in .pack img{
    display: block;
    margin: auto;
    width: 100%;
}
.sign-in .images img{
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 80px;
}
.sign-in .sign .sign-div {
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    padding: 30px 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.sign-in .sign .sign-div h4{
    color: #262A4D;
    padding: 15px 0px 30px 0px;
    font-size: 25px;
    font-weight: 600;
}
.sign-in .sign .sign-div h5{
    color: #262A4D;
    padding: 15px 0px 0px 0px;
    font-size: 25px;
    font-weight: 600;
}
/* .sign-in .sign .sign-div p{
    margin-top: 0;
    margin-bottom: 0;
} */
.sign-in .sign .sign-div ::placeholder{
    font-size: 12px;
    color: #000;
}
.sign-in .sign .sign-div label{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sign-in .sign .sign-div input{
    display: block;
    width: 100%;
    padding: 10px 5px 10px 20px;
    border-radius: 2px;
    border: 1px solid #003D6C;
    letter-spacing: 0.8px;
    background-color: #fff;
    font-size: 15px;
    transition: 0.6s;
}
.sign-in .sign a{
    color: #000;
}
.sign-in .sign .sign-div a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.sign-in .sign .sign-div p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}
.sign-in .sign .sign-div button{
    width: 100%;
    padding: 12px;
    text-align: center;
    border: none;
    background-color: #1D79D0;
    color: #fff;
    border-radius: 10px;
}
@media (max-width:2000px) {
    .sign-in .images img{
        width: 80px;
        display: block;
        margin: auto;
        margin-top: 10px !important;
    }
    .sign-in .pack img{
        display: block;
        margin: auto;
        width: 100%;
        height: 120vh;
    }
    .sign-in .sign
     .sign-div {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.log .images{
    margin-top: 100px !important;
}
.log .sign{
    margin-top: 70px;
}
@media (max-width:1000px) {
    .sign-in .pack img{
        display: none;
    }
    .sign-in .sign .sign-div {
        background-color: #fff;
        border-radius: 2px;
        width: 100%;
        padding: 20px 20px;
        margin-top: 20px;
        border-radius: 7px;
        margin-bottom: 20px;
    }
    .sign-in .sign .sign-div h4{
        color: #262A4D;
        padding: 15px 0px 15px 0px;
        font-size: 20px;
        font-weight: 700;
    }
}
/**********SIGN IN ENDS*************/
/**********SIGN IN ************/
#lent{
    background-color: #003D6C;
}
.log .pack img{
    display: block;
    margin: auto;
    width: 100%;
}
.log .images img{
    width: 100px;
    display: block;
    margin: auto;
}
.log .sign .sign-div {
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    padding: 30px 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.log .sign .sign-div h5{
    color: #262A4D;
    padding: 15px 0px 0px 0px;
    font-size: 25px;
    font-weight: 600;
}
/* .log .sign .sign-div p{
    margin-top: 0;
    margin-bottom: 0;
} */
.log .sign .sign-div ::placeholder{
    font-size: 12px;
    color: #000;
}
.log .sign .sign-div label{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.log .sign .sign-div input{
    display: block;
    width: 100%;
    padding: 10px 5px 10px 20px;
    border-radius: 2px;
    border: 1px solid #003D6C;
    letter-spacing: 0.8px;
    background-color: #fff;
    font-size: 15px;
    transition: 0.6s;
}
.log .sign a{
    color: #000;
}
.log .sign .sign-div a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.log .sign .sign-div p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}
.log .sign .sign-div button{
    width: 100%;
    padding: 12px;
    text-align: center;
    border: none;
    background-color: #1D79D0;
    color: #fff;
    border-radius: 10px;
}
@media (max-width:2000px) {
    .log .images img{
        width: 80px;
        display: block;
        margin: auto;
        margin-top: 10px !important;
    }
    .log .pack img{
        display: block;
        margin: auto;
        width: 100%;
    }
    .log .sign .sign-div {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@media (max-width:1000px) {
    .log .pack img{
        display: none;
    }
    .log .sign .sign-div {
        background-color: #fff;
        border-radius: 2px;
        width: 100%;
        padding: 20px 70px;
        margin-top: 20px;
        border-radius: 7px;
        margin-bottom: 20px;
    }
}
@media (max-width:520px) {
    .log .sign .sign-div {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .log .images{
        margin-top: 50px !important;
    }
    .log .sign{
        margin-top: 30px;
    }
    .log .sign .sign-div h5{
        color: #262A4D;
        padding: 15px 0px 0px 0px;
        font-size: 20px;
        font-weight: 700;
    }
}

/**********SIGN IN ENDS*************/

